body{
    background:#F7F7F9;
    margin: 0;
}
/*Header*/
.header {
    background:linear-gradient(#328053,#0A1A11);
    padding: 80px 160px;
}
.header-nav {
    position: relative;
    border-radius: 20px;
    background: #f0d481;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: bold;
}
.header-logo img{
    height: 100px;
    width: 115px;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    border-radius: 1in;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #328053;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.sub-menu{
    position: fixed;
    top:160px;
    left:-260px;
    padding: 10px;
    width: 200px;
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: .2in;
    justify-content: center;
    flex-direction: column;
    background-color: #328053;
    box-shadow: 0px 15px 38px rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 0px 10px 12px;
    transition: 0.3s;
}
.sub-menu.active{
    left: 160px;
}
.option{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:#f0d481;
    padding: 10px 0;
}
.option:hover{
    background:#f0d481;
    color:#328053;
    border-radius: .2in;
}
.socials {
    font-size: 4px;
    display: flex;
    gap:10px;
}

/*Body Attraction*/
.body-attraction{
    background: linear-gradient(#328053,#0A1A11);
    box-sizing: border-box;
    height: 70vh;
}
.body-banner{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.body-attraction img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.text-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:2vw;
    bottom: 120px;
    left: 120px;
    background: rgba(255, 255, 255, 0.2);
    border:2.5q solid;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    padding: 2vw 3vw;
    color: white;
    max-width: 100%;
    min-width: 40rem;
    transform: skewX(-25deg);
}
.text-overlay p{
    margin: -1rem 0;
    transform: skewX(25deg);
    text-align: right;
    font-family: "Inter";
    font-weight: bold;
    text-shadow: 5px 4px 0 #003516
}
.small{
    font-size: clamp(5rem, 4vw, 1.5rem);
}
.medium{
    font-size: clamp(6rem, 5vw, 2.5rem);
}
.large{
    font-size: clamp(7rem, 6vw, 3.5rem);
}
/*WE OFFER*/
.offers{
    font-family: 'Inter';
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.offer-banner{
    position: relative;
    background: #E4F0E9;
}
.offer-banner img{
    height: clamp(6vw ,4vw,2vw);
}
.offer-banner h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 60px;
    color:#264127;
}
.offer-items{
    font-size: 42px;
    color: #264127;
}
.offer-items ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.offer-items li{
    height: 40dvh;
    border-radius: 20px;
    box-shadow:inset 0 0 20px 10px rgba(0, 0, 0, 0.6);
}
.offer-items img{
    height: 40dvh;
    position: relative;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    z-index: -2;
}
.offer-items-text{
    margin: -5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ha{
    transform: translate(-2rem,0px);
}
.btr{
    transform: translate(1rem,0px);
}

